@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500&display=swap");

* {
  box-sizing: border-box;
}

#root {
  padding: 0px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Kaku Gothic Antique", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-size: cover;
}

.row {
  margin: 0;
  padding: 10px 0px;
  width: 100%;
}

.btn {
  margin: 2px 0px;
}

.min100 {
  min-height: 100vh;
}

.min80 {
  min-height: 80vh;
}

.min20 {
  min-height: 20vh;
}

.bgred {
  background-color: red;
}
.bgblue {
  background-color: rgb(34, 26, 141);
}

.bgwhite {
  background-color: white;
}

.width100 {
  width: 100%;
}

.height100 {
  min-height: 100%;
}

.shadowed-box {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 2px rgba(59, 59, 59, 0.5);
}

.box-bg {
  background-color: rgba(255, 255, 255, 0.8);
}

/* MODAL WINDOW*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: none;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
